* {
    box-sizing: border-box;
    /*el box-sizing es para que no se desborden las cajas */
  }
  body{
      background:url(bg1.png) black;
      font-family: 'Questrial', sans-serif;
    
  }
/*contenedor de todo*/
  .universal_content{
      background-color: rgba(201, 201, 201, 0.3);
      display: flex;
      border-radius: 15px;
      box-sizing: border-box;
      align-self: center;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      margin:50px;
      box-sizing: border-box;
      padding-bottom: 15px;
  }

  .universal_content h1{
        font-family: 'Questrial', sans-serif;
        font-size:4em;
        padding: 0px;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
        color: rgb(185, 0, 241);
  }

/*contenedor de la imagen y el formulario*/
  .formmasimg{
      display: flex;
      align-self: center;
      background-color: blueviolet;
      width: 60%;
    
      padding: 15px 15px;
      border-radius: 15px;
  }

  .EstiloText{
      display: flex;
      align-items: center;

  }
  /*estilo de los componentes del fotmulario y area de texto*/
.Entradas{
    width: 100%;
    font-size: 1em;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Questrial', sans-serif;
}
 /* .img1{
   background: url(img-01.png);
   background-repeat: no-repeat;
   background-size: cover;
  }*/

form{
    width: 100%;
}
  .form1{
      background-color: rgba(146, 146, 146, 0.418);
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      width: 100%;
      border-radius: 15px;
  }

  .universal_content .formmasimg form textarea{
    width: 100%;
    height: 120px;
    font-size: 1.2em;
    font-family: 'Questrial', sans-serif;
    outline: none;
    border: none;
    margin: 10px;
    resize: none;
    border-radius: 15px;
    padding: 15px;
  }
.universal_content .formmasimg form input:focus{
    border: 2px solid #8a01fa;
}
.universal_content .formmasimg form textarea:focus{
    border: 2px solid #8a01fa;
}

  /*estilo del boton de envio del fromulario */
 .EstiloBtn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;  
 }
  

  .universal_content .formmasimg form button{
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 10px;
    min-width: 160px;
    height: 42px;
    border-radius: 21px;
    background: blueviolet;
    transition: all 0.4s;
  }

  .universal_content .formmasimg form button:hover{
    background: #333333;
    box-shadow: 0 10px 30px 0px rgba(195, 0, 255, 0.651);
  }